# Lists:

In [1]:
 list = ["apple", "banana", "cherry"]
print(list)

['apple', 'banana', 'cherry']

In [3]:
list = ["apple", "banana", "cherry"]
print(list[2])

cherry

In [11]:
list = ["apple", "banana", "cherry"]
print(list[-1])

cherry

In [6]:
list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(list[2:5])

['cherry', 'orange', 'kiwi']

In [12]:
list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(list[-4:-1])

['orange', 'kiwi', 'melon']

In [19]:
l1=[1,2,3,4]
l2=[5,6,7,8,9]

In [20]:
l1+l2

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
len(l1)

4

In [21]:
len(l2)

5

In [22]:
for x in l1:
    print(x)

1
2
3
4

In [26]:
l1[0]

1

In [27]:
l1[0:-1]

[1, 2, 3]

In [28]:
l1[:4]

[1, 2, 3, 4]

In [33]:
list1=[4,5,6,7,8,9]
list1.append(5)

In [35]:
list1.count(4)

1

In [39]:
list1=[1,2,3,4,5,6,7,8,9,0]

In [40]:
list1.pop()

0

In [43]:
list1.insert(3,)

# accept three values as input from the user you need to check whether student got min marks(30)in all the subjects if not print fail if he gets min marks then find avg.if avg is>75=>print grade as A if the avg betwwn 60-75  print grade B if avg i b/w 30-60 print gradeC if<30 print as fail. 
m1=int(input("enter m1 marks:")) 
m2=int(input("enter m2 marks:"))
m3=int(input("enter m3 marks:"))
avg=(m1+m2+m3)/3
if (m1>30 and m2>30 and m3>30): # Indentation
    print("the student got maximum marks in all the subjects")
else:
    
    print("fail")
       
if(avg>=75):
    print("A")
elif(avg>=60 and avg<75):
    print("B")
elif(avg>=30 and avg<60):
    print("C")
else:
    print("fail")

# Check whether the given number is even or oddCheck whether the given number is even or odd

In [54]:
a=int(input("enter a number"))
if a%2==0:
    print("the number is even")
else:
    print("the number is odd")

enter a number5
the number is odd

# Accept age of a person and decide whether the candidate is eligible for     voting or not

In [57]:
age=int(input("enter the age of a person"))
if age>18:
    print("the candidate is aligible")
else:
    print("the candidate is not aligible")

enter the age of a person20
the candidate is aligible

# Check whether the given number is divsible by 2 and 3 but not 4.

In [62]:
num=int(input("enter a given number"))
if num%2==0 and num%3==0 and num%4!=0:
    print("the givrn number is divisible")
else:
    print("the number is not divisible")

enter a given number6
the givrn number is divisible

# find the large number from the given 3 numbers.

In [64]:
a,b,c=[int(x) for x in input("enter three numbres").split()]
if a>b and a>c:
    print("a is the largest number",a)
elif b>a and b>c:
    print("b",b)
else:
    print("c",c)

enter three numbres3 5 2
b 5

# check whether the given year is leap year or not

In [4]:
year=int(input("enter the given year"))
if year%4==0 and year%400==0 and year%100!=0:
    print("the given year is a leap year")
else:
    print("the gvien year is not a leap year")

enter the given year2018
the gvien year is not a leap year

# Read the string and char as input and print the number of occurances of charin the given string.

In [1]:
str=input("enter a string-")
char=input("enter a char:")
if char not in str:
    print("wrong enterd")
else:
    print(str.count(char))

enter a string-ravali
enter a char:a
2

# Read the input as string and print the output in the following manner

In [2]:
x=input("enter a string")
print(x.swapcase())

enter a stringproGRAMing
PROgramING

# Test whether the string is palindrome or not

In [6]:
str=input("enter a string-")
if (str==str[::-1]):
    print("it is a palindrome")
else:
    print("it is not palindrome")

enter a string-mom
it is a palindrome

# Convert string into list

In [10]:
str="123456"
l=[]
for i in str:
    l.append(int(i))
print(l)

[1, 2, 3, 4, 5, 6]

# Print the second largest string from the list of string

In [4]:

a=["ravali","hrudaysai","gopi","c","jan"]
list1.sort()
print(list1[2])

hrudaysai

# Read the input as string and output will followed
  Example :
   Input : orange 
   Reason: Print the next consonent to the vowel and print the vowel to the next  consonent

In [6]:
a=input("enter a string:")
vowels="aeiou"
for i in a:
    if i in vowels:
        print(chr(ord(i)+1),end="")
    else:
        if ord(i)>97 and ord(i)<101:
                print("e",end="")
        elif ord(i)>101 and ord(i)<105:
                print("i",end="")
        elif ord(i)>105 and ord(i)<111:
                print("o",end="")
        elif ord(i)>111 and ord(i)<117:
                print("u",end="")
        else:
                print("a",end="")

enter a string:orange
puboif

# touples

In [14]:
tuple = ("apple", "banana", "cherry")
print(tuple)

('apple', 'banana', 'cherry')

In [15]:
tuple = ("apple", "banana", "cherry")
print(tuple[1])

banana

In [16]:
tuple = ("apple", "banana", "cherry")
print(tuple[-1])

cherry

In [17]:
tuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple[2:5])

('cherry', 'orange', 'kiwi')

In [18]:
tuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple[-4:-1])

('orange', 'kiwi', 'melon')

In [2]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [4]:
tuple = ("apple", "banana", "cherry")
for x in tuple:
  print(x)

apple
banana
cherry

In [6]:
tuple = ("apple", "banana", "cherry")
if "apple" in tuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [8]:
tuple = ("apple", "banana", "cherry")
print(len(tuple))

3

In [5]:
tuple = ("apple", "banana", "cherry")
tuple[3] = "orange"
print(tuple)

TypeError: 'tuple' object does not support item assignment

In [11]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [12]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined

In [13]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [1]:
tuple = tuple(("apple", "banana", "cherry")) 
print(tuple)

('apple', 'banana', 'cherry')

In [2]:
tuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = tuple.count(5)

print(x)

2

In [4]:
tuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = tuple.index(3)

print(x)

1

# sets

In [10]:
set = {"1", "2", "3"}
print(set)

{'2', '3', '1'}

In [11]:
set = {"1", "2", "3"}

for x in set:
  print(x)

2
3
1

In [12]:
set = {"apple", "banana", "cherry"}

set.add("orange")

print(set)

{'apple', 'banana', 'orange', 'cherry'}

In [13]:
set = {"apple", "banana", "cherry"}

set.update(["orange", "mango", "grapes"])

print(set)

{'grapes', 'orange', 'cherry', 'apple', 'banana', 'mango'}

In [14]:
set = {"apple", "banana", "cherry"}

set.remove("banana")

print(set)

{'apple', 'cherry'}

In [17]:
set = {"apple", "banana", "cherry"}

x = set.pop()

print(x)

print(set)

apple
{'banana', 'cherry'}

In [18]:
set = {"apple", "banana", "cherry"}

set.clear()

print(set)

set()

In [20]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'a', 'c', 1, 2, 3, 'b'}

In [21]:
fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'apple', 'banana', 'cherry'}

In [24]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y) 

print(z)

{'banana', 'cherry'}